@page "{id?}"
@model ASP.Gram.Pages.Posts.ManageModel
@{
    Layout = "_Layout";

}
<h1> NET A POST</h1>

@*<div>
    <img src="@Model.Post.ImageURL" id="post-image" alt="Post Image" />

</div>*@
<div id="form-contain">
    <form method="post" id="form">
        <div>
            <label asp-for="Post.Author"></label>
            <input asp-for="Post.Author" id="input" />
        </div>
        <div>
            <label asp-for="Post.Details"></label>
            <input asp-for="Post.Details" id="input" />
        </div>
        <div id="url-contain">
            <label asp-for="Post.ImageURL"></label>
            <input asp-for="Post.ImageURL"  id="input" />
        </div>
        <div id="but-contain">
            <button type="submit" value="Save" id="button">Save</button>
        </div>
        <div id="but-contain">
                <button type="submit" asp-page-handler="Delete" id="button">Delete</button>
        </div>
</form>
    </div>
