<!DOCTYPE html>

<html>
<head>
    <title>ASP.GRAM FAM</title>
    <link href="~/reset.css" rel="stylesheet" />
    <link href="~/style.css" rel="stylesheet" />
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
